<!doctype html>
<html>
    <head>
        <title>Show all records!</title>
    </head>
    <body>
        <h2>Offices-Show all records</h2>
        <h3><a href="{{ url_for('show_all') }}">Show SQLAlchemy New Records</a></h3>
        
        <hr/>
        {%- for message in get_flashed_messages() %}
        {{ message }}
        {%- endfor %}

        <h3>Offices(<a href="{{ url_for('add_record') }}">Add Office Record</a>)</h3>
        <table border="1">
            <thead>
                <td><h3>ID</h3></td>
                <td><h3>Name</h3></td>
                <td><h3>Address</h3></td>
                <td><h3>city</h3></td>
                <td><h3>State</h3></td>
            </thead>
            <tbody>
                {% for branch in officesdb %}
                <tr>
                    <td><h3>{{ branch.id }}</h3></td>
                    <td><h3>{{ branch.name }}</h3></td>
                    <td><h3>{{ branch.add }}</h3></td>
                    <td><h3>{{ branch.city }}</h3></td>
                    <td><h3>{{ branch.state }}</h3></td> 
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>