<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Flask Request from Object-Climate</title>
    </head>
    <body bgcolor="lime">
        <form action="http://127.0.0.1:5000/temperature" method="POST">
            <p>Date</p>
            <p><input type="text" name="Date"/></p>
            <p>Season</p>
            <p><input type="text" name="Season"/></p>
            <p>Morning</p>
            <p><input type="text" name="Morning"/></p>
            <p>Afternoon</p>
            <p><input type="text" name="Afternoon"/></p>
            <p>Night</p>
            <p><input type="text" name="Night"/></p>
            <p><input type="submit" value="submit"/></p>
        </form>
</body>
</html>